PUBLIC_DOMAIN="https://daedalusbot.xyz"
PUBLIC_SUPPORT_SERVER="https://discord.gg/7TRKfSK7EU"
PUBLIC_DISCORD_ID="996887117596733530"

TOKEN="discord bot token"
API="http://localhost:4000"
DB_URI="mongodb://localhost:27017"
DB_NAME="daedalus"
DISCORD_API="https://discord.com/api/v10"
DISCORD_CALLBACK="https://daedalusbot.xyz/auth/callback"
DISCORD_SECRET="..."
STRIPE_KEY="stripe API key"
TCN_HMAC_KEY="..."
PRICE_T2_Y="stripe price ID for ultimate annual"
PRICE_T2_M="stripe price ID for ultimate monthly"
PRICE_T1_Y="stripe price ID for basic annual"
PRICE_T1_M="stripe price ID for basic monthly"