PUBLIC_DOMAIN="https://daedalusbot.xyz"
PUBLIC_SUPPORT_SERVER="https://discord.gg/7TRKfSK7EU"
PUBLIC_DISCORD_ID="996887117596733530"

API="http://localhost:4000"
DB_URI="mongodb://localhost:27017"
DB_NAME="daedalus"
DISCORD_API="https://discord.com/api/v10"
DISCORD_CALLBACK="https://daedalusbox.cyz/auth/callback"
DISCORD_SECRET="..."
TCN_HMAC_KEY="..."